.App {
  height: 100vh;
  width: 100vw;
  display: grid;
  background-color: gray;
  text-align: center;
}

.pomodoro {
  align-self: center;
}

h1 {
  font-size: 35px;
  margin-bottom: 40px;
}

#abc {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 23px;
  font-weight: 600;
}

.break-session {
  display: grid;
  grid-template-columns: 1fr;
}

#break-label {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

#session-label {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

#wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 200px;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

#break-decrement {
  width: 30px;
  height: 30px;
  background-color: orange;
}

#session-decrement {
  width: 30px;
  height: 30px;
  background-color: red;
}

#counter {
  width: 30px;
  height: 30px;
  background-color: blue;
}